:root {
	--first-color: #1a2942;
	--second-color: #edf0f0;
}

.backgroundf {
	background-color: var(--first-color);
	color: var(--second-color);
}

.colorf {
	color: var(--second-color);
}

.colors {
	color: var(--first-color);
}

.max-height-view {
	max-height: 100vh;
}